.DayDetailsPoemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display';
    margin: 20px;
  }

  .DayDetailsTitle {
    font-size: 50px;
    font-family: 'Poetsen One';
    text-wrap: balance;
  }

  .DayDetailsAuthor {
    font-weight: bold;
    font-size: 30px;
  }
  
  .DayDetailsNoteContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display'
  }
  .DayDetailsNoteTitle{ /* Different Title? (History) */
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poetsen One';
    text-decoration: underline;
    text-decoration-thickness: 5px;
  }
  .DayDetailsNote{
    margin-top: 10px;
    text-wrap: pretty;
  }
  .DayDetailsNoteParagraph{
    animation: linear animate-in-and-out; /* Needs Adjusting */
    animation-timeline: view();
  }
  
  @keyframes animate-in-and-out{
    entry-crossing 0%{
      opacity:0 ;
    }
    entry-crossing 100%{
      opacity:1 ;
    }
  }