.DayDetailsPoemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display';
  }
  .DayDetailsTitle {
    margin: 20px;
    font-size: 50px;
    font-family: 'Poetsen One';
  }
  .DayDetailsAuthor {
    margin: 20px;
    font-weight: bold;
    font-size: 30px;
  }
  .DayDetailsPoem{
    margin: 20px;
  }
  .DayDetailsByLine{
    margin: 20px;
  }
  .DayDetailsNoteContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display'
  }
  .DayDetailsNoteTitle{ /* Different Title? (History) */
    margin: 20px;
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poetsen One';
    text-decoration: underline;
    text-decoration-thickness: 5px;
  }
  .DayDetailsNote{
    margin: 20px;
    margin-top: 10px;
  }