@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color:#e73c7e; /* Find a color scheme */
}

:root {
    --colorName: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
   

@keyframes Gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
  
/* Card Buttons */

.Card-Navigation-Button {
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 2em;
  outline: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  color: var(--colorName);
  background: var(--colorName);
  background-size: 600% 100%;
  animation: Gradient 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.5s;
  z-index: 1;
}

#left-button {
  left: 0;
  padding-left: 10%;
}

#right-button {
  right: 0;
  padding-right: 10%;
}
   
.Divider {
  width: 5%; /* Adjust this value to change the size of the image */
  margin: 30px auto; /* Center the image */
}
.DividerMarginTop {
  width: 5%; /* Holder Till <br> are removed from day*/
  margin: 0px auto; 
  margin-top: 30px;
}


/* Main content container */

  .container {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding-top: 80px; 
  }

.container-row {
  display: flex;
  flex: 1; /* This allows the row to grow and fill the remaining height */
  justify-content: space-between;
  align-items: stretch; /* This ensures the .side and .content elements stretch to the same height */
  width: 100%;
}
/* Middle section */
.MainContent {
  flex: 1;
  padding: 20px;
  padding-top: 100px;
  background-color: #656599;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.ParentContainer {
  display: flex;
  flex-direction: column;
}

/* Side sections */
.side {
  width: 200px;
  padding: 20px;
  position: relative;
  background-color: #3f4b74;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-height: 80vh; 
}

.Passing {
  flex: 1 1 auto;
  max-width: 100%;
  padding: 0 20px; /* Add some padding to the sides */
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .side {
    width: 100%;
  }
}