header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    
    animation-range: 0 200px;
    animation: add-shadow linear both;
    animation-timeline: scroll();
  }
  
  .LogoImage {
    margin: .5em;
    width: 35em;
    animation: shrink-component linear both;
  }
  .HeaderContainer {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    animation: shrink-component linear both;
    border-radius: 10px; /* Add rounded corners */
    }


  @keyframes shrink-componenet{

  }

  @keyframes add-shadow{

  }