.PoemDetailsContainer{
  margin: 20px;
}
.PoemDetailsContainerTitle{
    font-size: 50px;
    font-family: 'Poetsen One';
    text-wrap: balance;
  }
  .PoemDetailsContainerAuthor{
    font-weight: bold;
    font-size: 30px;
  }
  .PoemDetailsContainerPoemText{
    font-family: 'Playfair Display';
  }
  .PoemDetailsContainerAnalysis{
    text-wrap: pretty;
  }
