.SidebarContainer {
    position: fixed;
    left: 0;
    transition: transform 0.3s ease-out;
    background: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    transition: width 1s;
}

.SidebarContainerHidden {
    display: hidden;
    width:200px;
}

.Sidebar-Button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    outline: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.5s;
    background: var(--colorName);
    background-size: 600% 100%;
    animation: Gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

